.singlePage{

    .post-desc {
        p {
            font-size: 23px;
            text-indent: 2px;
            &::first-letter{
                font-size: 40px;
                font-weight: bold;
                text-transform: uppercase;
            }
        img{
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            height: 450px;
            margin: 0 auto;
        }
    }
    }
}