.contact{
    overflow: hidden;
    height: 100%;
    background: #183114;
    color: #fff;

    .left-col {
      height: 100%;
      
        .contact-left{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px;
            bottom: -220px;
        }
    }

    .right-col {
      background: #446129;
      overflow: none;

      input, textarea{
        border: 3px solid #FCEE21;
        resize: none;
        width: 100%;
        outline: none;
        padding: 5px 0 5px 20px;
        background: NONE;

        &::placeholder{
            color: #FCEE21;
            font-weight: bold;
        }
      }
    }

    .send{
       text-align: center;
       align-items: center;
       justify-content: center;
       display: flex;
       flex-direction: column;
       color: #000;

       .btn{
        background: #FCEE21;
        width: 85px;
       }

       .social-media {
         color: #FCEE21;
         font-size: 30px;
       }
    }
}